.ymapcontainer
{
	width: 600px;
	height: 400px;
}

.holes_list
{
	border: double 1px #ECECEC;
	margin-bottom: 3%;
}


.service
{
	word-wrap: break-word;
	width: 90%;
}

.pagination a, .pagination span {
	margin-right: 1em;
}


@media print
{
	.pagination
	{
		display: none;
	}
}