div.filter_roller { width: 185px; border: 1px solid silver; padding: 5px; height: 200px; overflow-y: scroll; position: absolute; z-index: 3; background-color: white; margin-top: -25px; display: none; }
div.filter_roller span.item { display: block; margin-bottom: 2px; cursor: pointer; }
div.filter_roller span.item:hover { background-color: #e0e0e0; }
div.filter_roller span.item span { font-weight: bold; }

.filter {
	background: #fff;
	margin-bottom: 30px;
	padding: 30px 25px 15px 20px;
}

	.filter p {
		margin-bottom: 1.75em;
	}

	.filter select {
		background: #ececec;
		border-color: #d9d9d9 #ececec #ececec #d9d9d9;
		border-style: solid;
		border-width: 1px;
		color: #4c4c4c;
		font: normal 1em "Trebuchet MS", Arial, sans-serif;
		width: 100%;
	}

	.filter input {
		background: #ececec;
		border-color: #d9d9d9 #ececec #ececec #d9d9d9;
		border-style: solid;
		border-width: 1px;
		color: #6B6B6B;
		font: normal 1em "Trebuchet MS", Arial, sans-serif;
		width: 100%;
	}
	
	.filter .filter_checkbox{
		width: 8%;
	}

	.filter .disabled {
		opacity: 0.5;
		filter: alpha(opacity=50);
	}

	.filter .active {
		color: black;
	}

.lCol .like {
	border-top: 1px solid #d1d1d1;
}

.lCol .like #fb_like {
	border-top: 1px solid #fff;
	padding-top: 30px;
}

.reset {
	border-bottom: 1px dotted #4293c5;
	color: #4293c5;
	cursor: pointer;
	font-style: italic;
}

.reset:hover {
	border-color: #edb209;
	color: #edb209;
}


	.filterBtn {
		background: #e47100 url(images/filter_btn_bg.gif) repeat-x bottom;
		border-color: #ffac1f #ffac1f #f88200 #f88200;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		color: #fff;
		display: block;
		font-size: 1.33em;
		height: 29px;
		text-decoration: none;
	}

		.filterBtn i {
			cursor: pointer;
			float: left;
			font-style: normal;
			height: 29px;
			line-height: 28px;
			text-align: center;
		}

		.filterBtn .text {
			background: url(images/filter_btn_shadow.gif) no-repeat right bottom;
			font-weight: bold;
			padding-left: 13px;
			text-align: left;
			width: 128px;
		}
		
.lCol {
	width: 215px;
}


@media print
{
	#initial_link
	{
		display: none;
	}
	
	.lCol
	{
		display: none;
	}
}